[Unit]
Description=Tasks to run on shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/local/bin/panel_set.sh SaveSettingsOnShutdown

[Install]
WantedBy=multi-user.target
